<!DOCTYPE html>
<html>
    <head>
        <title>yt videos downloader</title>
        <style>
            body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
        </style>
    </head>
    <body>
        <form action="/" method="POST">
            <label for="text">Enter url:</label>
            <input type="text" id="text" name="text" required>
            <button type="submit">Submit</button>
        </form>  
    </body>
</html>